<p>Hallo {{.RECIPIENT_NAME}},</p>
<p><strong>{{.SENDER_NAME}}</strong> hat dir eine Nachricht auf AllerLeih geschickt.</p>
<p style="padding-top: 12px;">
    <a href="https://allerleih.org/conversations" style="display: inline-block; padding: 10px 16px; background-color: #9BAEED; color: #000000; text-decoration: none; border: 1px solid #000000; border-radius: 50px; font-weight: bold; font-size: 14px; font-family: 'Work Sans', sans-serif; text-align: center;">Jetzt auf AllerLeih ansehen</a>
</p>
